body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../images/logo.png);
    color: #020202;
}

header {
    text-align: center;
    background-image: url(../images/background-2.jpg) ;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, contain;
    padding: 20px 0;
}

#sobre {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;    /* Centraliza verticalmente */
    text-align: center;     /* Centraliza texto */
}

.central {
    display: flex;          /* Ativa Flexbox no contêiner */
    flex-wrap: wrap;        /* Permite quebrar linha em telas menores */
    justify-content: center; /* Centraliza os itens dentro do contêiner */
    align-items: center;    /* Alinha verticalmente os itens */
    gap: 20px;              /* Espaçamento entre os itens */
    color: #ccc;
    font-weight: bold;
}

.img-sobre {
    max-width: 250px;       /* Define tamanho máximo da imagem */
    border-radius: 10px;    /* Bordas arredondadas */
}
.img-ensaio {
    max-width: 400px;       /* Define tamanho máximo da imagem */
    border-radius: 10px;    /* Bordas arredondadas */
}

article {
    max-width: 300px;       /* Limita a largura do texto */
}

h2 {
    color: #ffffff;
}


section {
    margin: 20px;
    padding: 20px;
    background: url(../images/background-2.jpg);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.orcamento {
    margin: 10px 0;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background: #f4f4f4;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #222;
    color: white;
}
