body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url(/images/background-2.jpg);
    color: #020202;
    background-attachment: fixed;

}

header {
    text-align: center;
    /* background-image: url(../images/background-2.jpg) ; */
    background-position: center;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, contain;
    padding: 20px 0;
    
}

a {
    color: #3498db;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

nav {
    margin-top: 10px;
    display: flex;
    align-items: center;    /* Centraliza verticalmente */
    text-align: center;     /* Centraliza texto */
    color: #fff;
    display: flex;
    justify-content: space-around;


}

nav ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    font-size: 16px;
    /* background-image: url(../images/background-2.jpg); */
    border-radius: 10px;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}

nav a:hover {
    text-decoration: underline;
}

#sobre {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;    /* Centraliza verticalmente */
    text-align: center;     /* Centraliza texto */
}

.central {
    display: flex;          /* Ativa Flexbox no contêiner */
    flex-wrap: wrap;        /* Permite quebrar linha em telas menores */
    justify-content: center; /* Centraliza os itens dentro do contêiner */
    align-items: center;    /* Alinha verticalmente os itens */
    gap: 20px;              /* Espaçamento entre os itens */
    color: #ccc;
    font-weight: bold;
}

.img-sobre {
    max-width: 250px;       /* Define tamanho máximo da imagem */
    border-radius: 10px;    /* Bordas arredondadas */
}
.img-ensaio {
    max-width: 400px;       /* Define tamanho máximo da imagem */
    border-radius: 10px;    /* Bordas arredondadas */
}

article {
    max-width: 300px;       /* Limita a largura do texto */
}

h2 {
    color: #ffffff;
}


section {
    margin: 20px;
    padding: 20px;
    /* background: url(../images/background-2.jpg); */
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Cria 3 colunas de tamanho igual */
    grid-gap: 25px; /* Espaçamento entre os itens */
    padding: 10px; 

}

.orcamento {
    margin: 15px;
    padding: 30px;
    border: 2px solid #ccc;
    border-radius: 15px;
    background: #cccaca;
    display: flex;          /* Ativa Flexbox no contêiner */
    flex-wrap: wrap;        /* Permite quebrar linha em telas menores */
    justify-content: center; /* Centraliza os itens dentro do contêiner */
    align-items: center;    /* Alinha verticalmente os itens */
    font-weight: bold;
    /* max-width: 400px; */
}

.img-orcamento {
    max-width: 200px;       /* Define tamanho máximo da imagem */
    border-radius: 10px;    /* Bordas arredondadas */
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #222;
    color: white;
}


/* Consultas de mídia para telas menores */
@media (max-width: 768px) {

}

@media screen and (max-width: 768px){
    .grid-container {
        grid-template-columns: 1fr; /* 2 colunas em telas menores */
        border-radius: 10px;    /* Bordas arredondadas */
        
    }

    nav ul{
        list-style: none;
        margin: 0;
        padding: 10px;
        display: flex;
        font-size: 12px; 
        border-radius: 10px;
    }
    
    .img-ensaio {
        max-width: 300px;       /* Define tamanho máximo da imagem */
    }
}